@import 'stylesheets/normalize';
@import 'stylesheets/bourbon/bourbon';

body {
	font-family: $monospace;
}

header,
#content {
	position: relative;
	width 	: 1000px;
	margin	: auto;
}

section {
	display	: block;
	float		: left;
}

#config {
	form  {
		label {
			font-weight: bold;
		}
		input[type=text] {
			width: 660px;;
		}
		button {
			@include button(shiny);
		}
	}
}

#recipes {
	width		: 480px;
	padding	: 10px;

	ul {
		padding: 0;
		list-style-type: none;

		li.recipe label {
			display	: inline-block;
			width		: 100%;
			padding	: 2px;
			cursor	: pointer;

			input 	{ margin-right: 10px; }

			&:hover { background-color: lighten(green, 60); }
		}
	}
}

#soloistrc {
	position: fixed;
	top			: 150px;
	left		: 50%;

	textarea {
		width	: 485px;
		height: 600px;
		font	: 12px courier;
	}
}
