%section#readme
%section#config
  %form{action: "/build", method: "get"}
    %label GitHub Repository URL
    %input{type: "text", id: "url", name: "url", placeholder: "https://github.com/newcontext/pivotal_workstation"}
    %button{type: "submit"} Submit
