<section id="readme">
</section>
<section id="config">
	<form action="/build" method="get">
		<label>GitHub Repository URL</label>
		<input type="text" id="url" name="url" placeholder="https://github.com/newcontext/pivotal_workstation">
		<button type="submit">Submit</button>
	</form>
</config>
