%section#config
  Please wait.. Retrieving your recipes..
%section#recipes{"data-url" => params[:url]}
  %ul
%section#soloistrc
  %textarea
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script{src: "application.js"}
