%section#config
	Please wait.. Retrieving your recipes..
%section#recipes{"data-url" => params[:url]}
	%ul
%section#soloistrc
	%textarea
%section#source
	%a{href: "#", class: "close"} Close
	.file
	%pre
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
%script{src: "application.js"}
