!!!
%html{lang: "en"}
	%head
		%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

		%title soloistrc builder
		%link{:rel => "stylesheet", :href => "application.css", :type => "text/css"}
	%body
		%header
			%h1 soloistrc builder
		#content
			= yield
