!!!
%html{lang: "en"}
	%head
		%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

		%title soloistrc builder
		%link{:rel => "stylesheet", :href => "application.css", :type => "text/css"}
	%body
		%a{:href => "https://github.com/winston/soloistrc_builder"}
			%img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", :alt => "Fork me on GitHub"}
		%header
			%h1 soloistrc builder
		#content
			= yield
